* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.article-search {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.article-list {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  padding: 20px;
}

.article-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  max-width: min-content;
}
.article-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
